body{
	background-color: #fbfbfb;
	font-family: arial, sans-serif;
}

input, select, textarea, button, span{
	border-radius: 3px;
	color: #112211;
	font-family: arial, sans-serif;
	
}
input, select, button{
	background-color: #FEFEFE; 
}	
input, textarea{
  background-image: url("images/textBackground_no_num.jpg");
  background-repeat: round;
  background-attachment: scroll;	
}
input[type=date]{
	width: 10em;	
}
select{
  width: 8em;
}

img{
	cursor: pointer;
	border-style: outset;
	vertical-align: bottom;
}

	#menu {
      font-family: arial, sans-serif;
      /* border-collapse: collapse; */
      border: 1.5px outset #f5f5f0;     
      width: 100%;
      background-color: WhiteSmoke;
    }

	option:nth-child(even){
	background-color: WhiteSmoke;
	}
		
    #menu.td, #menu.th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 1px;
      cursor: pointer;
    }

    #menu.tr:nth-child(even) {
      background-color: #dddddd;
    }
    
    

#lblSearchDueDate{
	cursor: pointer;
}
#txtSearchDueDate{
	display: none;
}

#lblDetailDueDate{
	cursor: pointer;
	width: 4.5em;
}
#txtDetailDueDate{
	display: none;
}
.cssMessageInfo{
	font-size:11pt;
	border: 1px inset;
	font-family: Tahoma, Geneva, sans-serif;
	font-style: oblique;
	color: #fbfbfb;
	background-color: #424f5a;
	border-right: 1px inset #dddddd;
	border-bottom: 1px inset #dddddd;
	transform: skewX(-20deg);
}

.Fixed
{
    position: fixed;
    top: 4em;
    width: 100%
}

	.cssTaskList {
    /* display: table; */
    width: 100%;
	}
	
	table.cssTaskList tbody {
	    float: left;
	    width: 100%;
	    font-family: arial, sans-serif;
	    font-size: medium;	
	    overflow-y: auto;
	    height: 150px;
	    background-color: WhiteSmoke;
	    color: #121212;
	    cursor: pointer;
	}
	tbody tr:nth-child(even) {
      background-color: Snow;
    }	

	td img{
		border-width: 1px;
		
	}

	td.cssTaskListType {
	    width: 5%;
	}		
	td.cssTaskListTitle {
	    width: 75%;
	}	
	td.cssTaskListDueDate {
	    width: 12%;
	}
	td.cssTaskListEffort {
	    width: 6%;
	}
	td.cssTaskListStatus {
	    width: 10%;
	    text-align: left;
	}

	#imgSaveTask{
		margin-top: 1px;
	}
    .cssTabLabel:hover{
    	cursor: pointer;
    }
		
	#TabLinkedCustomer{
		display: none;
	}		

/* 	#divConnectedContact{
		display: none;
	} */
	
.cssTab{
	width: 15%;
	font-family: arial;
	border-top: 1px outset #f5f5f0;
	border-left: 1px outset #f5f5f0;
	border-bottom: 1px outset #1e1e15;
	border-right: 1px outset #1e1e15;
	background-color: #f1f1f1;
	color: #424f5a;		
	text-align: center;
	cursor: pointer;
}

.cssTabSelected{
    width: 15%;
	font-family: arial;
	border-top: 1px solid #1e1e15;
	border-left: 1px solid #1e1e15;	
	border-bottom: 1px solid #ff9500;
	border-right: 1px solid #f5f5f0;
	text-align: center;
	background-color: #ebebeb;
	color: #424f5a;	
	cursor: pointer;
}

		
	#cmbCustomerList{
		font-family: arial, sans-serif;
        background-color: GhostWhite;
        min-width: 21em;	
	}

	#cmbContactList{
		font-family: arial, sans-serif;
        background-color: GhostWhite;
        min-width: 23em;	
	}
		
	#cmbTaskLogList{
		font-family: arial, sans-serif;
        background-color: WhiteSmoke;
        	
	}	
#txtDetailTaskTitle, #cmbTaskLogList, #txtTaskLogDescription{
	width: 32em;
}
#taskDetailsTop{
	width: 27em;
}
#divParentTaskList{
	height: 3em;
	width: 24em;
	overflow-y: scroll;
	border-bottom: 1px inset #000000;
}

#divParentTaskList span{
	font-family: arial, sans-serif;
	font-size:10pt;
	cursor: pointer;
	
}
#divParentTaskList img{
	border-style: outset;
	border-width: 1px;
}

#divChildTaskList{
	height: 4em;
	width: 24em;
	overflow-y: scroll;
}

#divChildTaskList span{
	font-family: arial, sans-serif;
	font-size:10pt;
	cursor: pointer;
}
#divChildTaskList img{
	border-style: outset;
	border-width: 1px;
}

#cmbRelationTaskList{
	font-family: arial, sans-serif;
	background-color: AliceBlue;
	min-width: 29em;	
}	
	#cmbAttachmentList	 {
		font-family: arial, sans-serif;
        min-width: 29em;	
	}
	
.tabRow{
	border-style: outset;
	border-color: Snow;
}

#divEffortUnit{
	display: none;
	position: fixed;
	z-index: 2;
	background-color: oldlace;
}

#imgEffortUnit{
	border-style: inset;
}

#divNewTaskType{
	display: none;
	position: fixed;
	z-index: 2;
	background-color: oldlace;
}

#divTaskType{
	display: none;
	position: fixed;
	z-index: 2;
	background-color: oldlace;
}

#divTaskStatus{
	display: none;
	position: fixed;
	z-index: 2;
	background-color: oldlace;
}

#cmbDetailStatus option[value="0"]{
	background-color: SlateGray;
}
.cssFieldLabel{
	font-family: arial, sans-serif;
	background-color: GhostWhite;
	font-size: 0.8em;
	font-weight: bold;	
	width: 3.5em;
	display: inline-block;
}

#txtDetailTaskEffort{
	width: 3em;
}
.parent-grid-container{
	display: grid;
	grid-template-columns: 17em 12em;	
}    
.contact-details-grd {
	display: grid;
	grid-template-columns: 6em 4em;
	padding: 3px;
}

.contact-customer-grd {
	display: grid;
	/* grid-template-columns: 8em 8em; */
	grid-template-rows:	4em 1.5em 1.5em 3em;
	padding: 3px;
}
  
.cssCard{
	border: 1px solid #000000;
	background-color: LightGoldenRodYellow;
}

.cssCardInput{
	border-width: 1px;
	border-style: dotted;
	border-color: black;
	font-family: arial, sans-serif;
	background-color: LightGoldenRodYellow;
	font-size: 1em;
	background-image: none;
}

img.cssCardInput{
	border-width: 1px;
	border-style: none;
	border-color: LightGoldenRodYellow;
	vertical-align: bottom;
}
	#cmbConnectedAddress{
		font-family: arial, sans-serif;
        min-width: 29em;	
	}	
	
	#txtAddressHouseNum.cssCardInput {
		max-width: 2em;
	}
#divConnectedEditContact{
	max-width: 24em;
}
#divConnectedEditAddress{
	max-width: 24em;
}
.cssConnectedCustomers{grid-area: connectedCustomers;
	max-width: 14em;
	min-width: 14em;}
	
#lblCRMContacts{
	grid-area: connectedContactsLabel;
	border-style: outset;
	text-align: center;
	width: 14em;
	cursor: pointer;
	}

.cssConncetedContacts{grid-area: conncetedContacts;
	max-width: 14em;
	min-width: 14em;
	}
.cssAllContactsLabel{grid-area: allContactsLabel;}
.cssAllContacts{grid-area: allContacts;
max-width: 12em;
min-width: 12em;}

.connection-grd{
	display: grid;
	grid-template-areas: 'connectedCustomers connectedContactsLabel allContactsLabel'
		'connectedCustomers conncetedContacts allContacts';

}