	body{
		background-color: #fbfbfb;
		font-family: arial, sans-serif;
	}
	
	input, select, textarea, button, span{
		border-radius: 3px;
		color: #112211;
		font-family: Tahoma, Geneva, sans-serif;
		
	}
	textarea{
		resize: none;
	}
	input, select, button{
		background-color: #FEFEFE; 
	}	
	input, textarea{
	  background-image: url("images/textBackground_no_num.jpg");
	  background-repeat: round;
	  background-attachment: scroll;	
	}
	input[type=date]{
		width: 10em;	
	}
	
	option:nth-child(even){
		background-color: WhiteSmoke;
	}
		
	select{
	  width: 8em;
	}
	
	img{
		cursor: pointer;
		border-style: outset;
		vertical-align: bottom;
	}

	#menu {
      font-family: arial, sans-serif;
      border: 1.5px outset #f5f5f0;     
      width: 100%;
      background-color: WhiteSmoke;
    }

    #menu.td, #menu.th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 1px;
      cursor: pointer;
    }

    #menu.tr:nth-child(even) {
      background-color: #dddddd;
    }
    
	#lblSearchDueDate{
		cursor: pointer;
	}
	#txtSearchDueDate{
		display: none;
	}
	
	#lblDetailDueDate{
		cursor: pointer;
		width: 4.5em;
	}
	#txtDetailDueDate{
		display: none;
	}
	
	.cssMessageInfo{
		font-size:11pt;
		border: 1px inset;
		font-family: Tahoma, Geneva, sans-serif;
		font-style: oblique;
		color: #fbfbfb;
		background-color: #112233;
		border-right: 1px inset #dddddd;
		border-bottom: 1px inset #dddddd;
		transform: skewX(-10deg);
	}

	.Fixed
	{
	    position: fixed;
	    top: 3.8em;
	    width: 100%;
	    font-family: Tahoma, Geneva, sans-serif;
	    font-size: 0.9em;
	    font-weight: bold;
	}

	.cssTaskList {
    border-collapse: collapse;
    width: 100%;
	}
	
	table.cssTaskList tbody {
	    float: left;
	    width: 100%;
	    font-family: Geneva, arial, sans-serif;
	    font-size: medium;	
	    overflow-y: auto;
	    overflow-x: hidden;
	    height: 150px;
	    background-color: WhiteSmoke;
	    color: #121212;
	    cursor: pointer;
	    
	}
	tbody tr:nth-child(even) {
      background-color: Snow;
    }	

	td img{
		border-width: 1px;
		
	}

	td.cssTaskListType {
	    width: 5%;
	}		
	td.cssTaskListTitle {
	    width: 75%;
	}	
	td.cssTaskListDueDate {
	    width: 12%;
	}
	td.cssTaskListEffort {
	    width: 6%;
	}
	td.cssTaskListStatus {
	    width: 10%;
	    text-align: left;
	}

	#imgSaveTask{
		margin-top: 1px;
	}
    .cssTabLabel:hover{
    	cursor: pointer;
    }
		
	#TabLinkedCustomer{
		display: none;
	}		

		
	.cssTab{
		width: 15%;
		font-family: arial;
		border-top: 1px outset #f5f5f0;
		border-left: 1px outset #f5f5f0;
		border-bottom: 1px outset #1e1e15;
		border-right: 1px outset #1e1e15;
		background-color: #f1f1f1;
		color: #424f5a;		
		text-align: center;
		cursor: pointer;
	}

	.cssTabSelected{
	    width: 15%;
		font-family: arial;
		border-top: 1px solid #1e1e15;
		border-left: 1px solid #1e1e15;	
		border-bottom: 1px solid #ff9500;
		border-right: 1px solid #f5f5f0;
		text-align: center;
		background-color: #ebebeb;
		color: #424f5a;	
		cursor: pointer;
	}

		
	#cmbCustomerList{
		font-family: arial, sans-serif;
        background-color: GhostWhite;
        min-width: 21em;	
	}

	#cmbContactList{
		font-family: arial, sans-serif;
        background-color: GhostWhite;
        min-width: 23em;	
	}
		
	#cmbTaskLogList{
		font-family: arial, sans-serif;
        background-color: WhiteSmoke;
        	
	}	
	#txtDetailTaskTitle, #cmbTaskLogList, #txtTaskLogDescription, #cmbRelationTaskList, #cmbAttachmentList{
		width: 37em;
	}
	#divTaskDetailsTop{
		width: 31em;
	}
	#divTaskDetailsBottom{
		width: 31em;
	}
	#divParentTaskList{
		height: 2em;
		width: 31em;
		overflow-y: scroll;
		border-bottom: 1px inset #000000;
	}

	#divParentTaskList span{
		font-family: arial, sans-serif;
		font-size:10pt;
		cursor: pointer;
		
	}
	#divParentTaskList img{
		border-style: outset;
		border-width: 1px;
	}
	
	#divChildTaskList{
		height: 3.5em;
		width: 31em;
		overflow-y: scroll;
	}

	#divChildTaskList span{
		font-family: arial, sans-serif;
		font-size:10pt;
		cursor: pointer;
	}
	#divChildTaskList img{
		border-style: outset;
		border-width: 1px;
	}
	
	.cssTaskRelationTitle{
		background-color: WhiteSmoke;
		color: Black;
	}
	.cssTaskRelationTitleSelected{
		background-color: FloralWhite;
		color: FireBrick;
	}

	.tabRow{
		border-style: outset;
		border-color: Snow;
	}

	#imgEffortUnit{
		border-style: outset;
	}

	#divMenuNewTaskType, #divMenuTaskType, #divMenuEffortUnit, #divMenuTaskStatus{
		display: none;
		position: fixed;
		z-index: 2;
		background-color: oldlace;
	}
		
	#cmbDetailStatus option[value="0"]{
		background-color: SlateGray;
	}
	.cssFieldLabel{
		font-family: arial, sans-serif;
		background-color: GhostWhite;
		font-size: 0.8em;
		font-weight: bold;	
		width: 3.5em;
		display: inline-block;
	}
	
	#lblTotalEffort.cssFieldLabel{
		width: 5.5em;
	}

	#txtDetailTaskEffort{
		width: 3em;
	}
	.parent-grid-container{
		display: grid;
		grid-template-columns: 17em 12em;
	}    
	.contact-details-grd {
		display: grid;
		grid-template-columns: 6em 4em;
		padding: 3px;
	}

	.contact-customer-grd {
		display: grid;
		/* grid-template-columns: 8em 8em; */
		grid-template-rows:	4em 1.5em 1.5em 3em;
		padding: 3px;
	}
	  
	.cssCard{
		background-color: LightGoldenRodYellow;
	}

	.cssCardInput{
		border-width: 1px;
		border-style: dotted;
		border-color: black;
		font-family: arial, sans-serif;
		background-color: LightGoldenRodYellow;
		font-size: 0.9em;
		background-image: none;
	}
	
	img.cssCardInput{
		border-width: 1px;
		border-style: none;
		border-color: LightGoldenRodYellow;
		vertical-align: bottom;
	}
	
	#divAddressList{
		width: 28em;
		height: 3em;
		overflow-y: scroll;
		font-family: Tahoma, Geneva, sans-serif;
		font-size: 0.8em;
		border-bottom: 1px inset #000000;	
		cursor: pointer;	
	}	
	
	#txtAddressHouseNum.cssCardInput {
		max-width: 2em;
	}
	
	#cssConnectedEditContact{
		width: 28em;
		border-radius: 8px;
		border: 1px solid #000000;
	}
	#cssConnectedEditContact tr{
		background-color: LightGoldenRodYellow;
	}	
	#cssConnectedEditContact td{
		border-spacing: 0px;
		padding: 0px;
	}		
	
	#divConnectedEditAddress{
		max-width: 28em;
	}
	
	#cssConnectionList{
		width: 29em;
	}
	#cssConnectionList td{
		width: 50%;
	}
	#cssConnectionList select{
		width: 90%;
	}	
	#cssConnectionList input[type="text"]{
		width: 75%;
	}		

	.cssLoginList{
		width: 14em;
	}